tqdm==4.66.4
requests
pillow
chromadb==0.5.0
einops==0.8.0
python-doctr>=0.8.1
PyYAML==6.0.1
clip-benchmark>=1.6.0
datasets>=2.8.0
open-clip-torch>=2.20.0
timm>=0.9.5
Flask
flask-cors
ttkbootstrap
darkdetect